.countertopsTitle {
    margin-bottom: 1em;
    font-size: 48px;
    text-align: center;
}

.countertopRow {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.countertopCardBox {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1em;
}

.countertopCardBox:hover {
    opacity: 75%;
}

.countertopName {
    text-align: center;
    padding-top: .5em;
}