.countertopBox {
    display: flex;
    justify-content: center;
}

.countertopViewTitle {
    font-size: 42px;
    text-align: center;
}

.countertopViewRow1 {
    padding: 5% 5% 5% 5%;
}

.backButton {
    width: 100px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
}