.countertopRow {
    margin: 1em;
}

.countertopCardBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
}

.countertopImageCard {
    height: 20vh;
}

.countertopTitle {
    text-align: center;
}