.countertopsTitle {
    font-size: 48px;
    text-align: center;
}

.countertopRow {
    margin: 1em;
}

.countertopCardBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    cursor: pointer;
}

.countertopCardBox:hover {
    opacity: 75%;
}

.countertopImageCard {
    height: 20vh;
}

.countertopTitle {
    text-align: center;
}