.homeTopBg {
    height: 80vh;
    display: flex;
    justify-content: center;
}

.homeTopImg {
    min-width: 100vmax;
    min-height: 100vh;
    object-fit: cover;
}

.mpTitle {
    font-size: 48px;
    margin-top: 1em;
    text-align: center;
}

.brandRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.brandImgBox {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.brandImg {
    height: 200px;
    padding: 1em;
}

.brandImg:hover {
    cursor: pointer;
}

.brandNameBox {
    background: rgba(109, 243, 227, .7);
    transform: translate(0, 0);
    margin: 0 1em 1em 1em;
}

.brandNameBox:hover {
    background: rgba(109, 243, 227, 1);
    cursor: pointer;
}

.brandName {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .brandImg {
        height: 200px;
    }

}

@media screen and (max-width: 768px) {

    .brandImg {
        height: 150px;
    }

}