.homeTopBg {
    height: 80vh;
}

.homeTopImg {
    min-width: 100vmax;
    min-height: 100vh;
    object-fit: cover;
}

.mpTitle {
    font-size: 48px;
    margin: 1em;
    text-align: center;
}

.mpRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mpMaterialImg {
    height: 250px;
    width: 500px;
    object-fit: cover;
}

.mpMaterialImg:hover {
    cursor: pointer;
}

.mpMaterialNameBox {
    background: rgba(109, 243, 227, .7);
    transform: translate(0, -100%);
}

.mpMaterialNameBox:hover {
    background: rgba(109, 243, 227, .9);
    cursor: pointer;
}

.mpMaterialName {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .mpMaterialImg {
        height: 200px;
        width: 450px;
        object-fit: cover;
    }

}

@media screen and (max-width: 768px) {

    .mpMaterialImg {
        height: 150px;
        width: 350px;
        object-fit: cover;
    }

}