.homeTopBg {
    height: 80vh;
}

.homeTopImg {
    min-width: 100vmax;
    min-height: 100vh;
    object-fit: cover;
}

.mpTitle {
    font-size: 48px;
    margin: 1em;
}

.mpMaterialBox {
    margin: 0 1em 0 1em;
}

.mpMaterialImg {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.mpMaterialName {
    justify-content: center;
}