.productsBGBox {
    min-width: 50vmax;
    height: 80vh;
}

.countertopBG {
    height: 80vh;
}

.countertopImg {
    min-width: 50vw;
    min-height: 100vh;
    object-fit: cover;
}

.cabinetBG {
    height: 80vh;
}

.cabinetImg {
    min-width: 50vw;
    min-height: 100vh;
    object-fit: cover;
}

.CTtitle {
    font-size: 40px;
    margin: 1em;
    text-align: center;
}

.CBtitle {
    font-size: 40px;
    margin: 1em;
    text-align: center;
}